
<footer class="main-footer" style="background-color:rgb(236, 255, 237)">
    <strong> 2019-2020 . <a href="#">Quản Lý Thuê Đĩa</a></strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <p style="font-weight:900">Version 2020.08</p> 
    </div>
</footer>