<style type="text/css">
</style>
<aside class="main-sidebar elevation-3 sidebar-light-green" style="background-color: rgb(236, 255, 237)">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="~/Content/img/smalldisk.png" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light badge" style="background-color:#14a33e;text-align:center;font-size:large;font-weight:900;color:white;min-width:170px;">QUẢN LÝ THUÊ ĐĨA</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <!-- Sidebar Menu -->
        <nav class="mt-2" id="nav-bar-main">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="fas fa-home nav-icon"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>
                @if (User.HavingRight("RENT_DISK"))
                {
                    <li class="nav-item">
                        <a href="~/RentDisk/Rent" class="nav-link">
                            <i class="fas fa-address-book nav-icon"></i>
                            <p>
                                Thuê đĩa
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Customer/Index" class="nav-link">
                            <i class="fas fa-copy nav-icon"></i>
                            <p>
                                Giữ đĩa
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Customer/Index" class="nav-link">
                            <i class="fas fa-book nav-icon"></i>
                            <p>
                                Trả đĩa
                            </p>
                        </a>
                    </li>
                }

                <li class="nav-header">Quản lý danh mục</li>
                @if (User.HavingRight("CUS_MNT"))
                {
                    <li class="nav-item">
                        <a href="~/Customer/Index" class="nav-link">
                            <i class="fas fa-user-alt nav-icon"></i>
                            <p>
                                Khách hàng
                            </p>
                        </a>
                    </li>
                }
                @if (User.HavingRight("DISK_MNT"))
                {

                    <li class="nav-item">
                        <a href="~/Disk/Disk" class="nav-link">
                            <i class="fa fa-compass nav-icon"></i>
                            <p>
                                Đĩa
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Disk/DiskTitle" class="nav-link">
                            <i class="fa fa-tag nav-icon"></i>
                            <p>
                                Tiêu đề
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="~/Disk/DiskType" class="nav-link">
                            <i class=" fa fa-database nav-icon"></i>
                            <p>
                                Loại đĩa
                            </p>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>