

    @{
        ViewBag.Title = "Unauthorised Request";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div class="content-wrapper">
    <div class="content-header text-danger h1 m-3">Error 401 : Your account is not permission</div>

    <div class="h3 m-3 pl-2 font-weight-light">You do not have permission to access the requested resource due to security restrictions.  In order to gain access, please speak to your <strong>system administrator</strong>.</div>
</div>
  
