

@{
    ViewBag.Title = "Unauthorised Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header text-danger h1 m-3">Error 401 : You are not permitted to access this function.</div>
    <div class="h3 m-3 pl-2 font-weight-light">You do not have permission to access the requested resource due to security restrictions.  In order to gain access, please contact your <strong>system administrator</strong>.</div>
</div>

