
<footer class="main-footer" style="margin-left:0px !important;">
    <strong>Copyright &copy; 2019-2020 <a href="https://eznet.com.vn">EZ NET</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 2020.1
    </div>
</footer>