
<footer class="main-footer">
    <strong>Copyright &copy; 2019-2020 <a href="https://eznet.com.vn">EZ NET</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <p style="font-weight:900">Version 2020.05</p> 
    </div>
</footer>