@{
    ViewBag.Title = "About";
}
<style type="text/css">
    .sup {
        font-size: large;
    }
</style>
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h5>
                        Hỗ trợ
                    </h5>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="~/">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Hỗ trợ</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h4><strong>Thông tin liên hệ hỗ trợ</strong></h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-body card-primary card-outline">
                                <div class="card-img-top" style="text-align:center">
                                    <img height="220px" width="440px" src="~/Content/img/logo-eznet.png" />
                                </div>
                                <hr />
                                <p><span class="mapicon sup">Địa chỉ: 103 Đường số 7 khu dân cư, Dự án Center Hills Gò Vấp, Gò Vấp, Thành phố Hồ Chí Minh</span></p>
                                <p><span class="phoneno sup">Điện thoại: </span><a style="font-size:large;" href="tel:+842822100290">(028) 2210 0290</a></p>
                                <p><span class="phoneno sup">Hotline: </span><a style="font-size:large;" href="tel:+84338888018">(033) 8888 018</a></p>
                                <p class="sup">Email: <span class="emailicon sup"><a class="sup" href="mailto:cskh@eznet.com.vn">cskh@eznet.com.vn</a> hoặc <a href="mailto:eznet.vietnam@gmail.com">eznet.vietnam@gmail.com</a></span></p>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="card">
                            <div class="card-body">
                                <p><iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.4151255351667!2d106.63874051480148!3d10.855997092267527!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe36a5a4bc59b3932!2zQ8O0bmcgdHkgVE5ISCBDw7RuZyBOZ2jhu4cgRVogTkVU!5e0!3m2!1svi!2s!4v1581046901599!5m2!1svi!2s" width="100%" height="420" frameborder="0" allowfullscreen="allowfullscreen"></iframe></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->
</div>

<div id="ezloader" style="display:none;position:absolute;top:50%;left:50%;padding:2px;">
    <img src="~/Content/img/loader.gif" />
</div>

@Scripts.Render("~/Content/admin-lte/plugins/datatables/jquery.dataTables.min.js")
@Scripts.Render("~/Content/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.js")
@Styles.Render("~/Content/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.css")
@{
    var loaderpath = Url.Action("Content/img/loader.gif", "/", null, Request.Url.Scheme);
}
<script>
    var flag = "/"
</script>